<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Proyecto-final</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="agregar-vehiculo" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Agregar vehiculo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Agregar-cli" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Agregar Cliente
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Hola" Match="NavLinkMatch.All">
                <span class="oi oi-code" aria-hidden="true"></span> Hola
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandedSubMenu= !expandedSubMenu" Match="NavLinkMatch.All">
                <img src="./imagenes/reportes.png" alt="Alternate Text" style="margin-right: 15px; height: 30px;"/> Reportes
                <img src="./imagenes/reportes.png" alt="Alternate Text" style="margin-right: 10px; height: 30px;" /> Reportes
            </NavLink>
            @if (expandedSubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="vehiculos" Match="NavLinkMatch.All">
                            <img src="./imagenes/vehiculos.jpg" alt="Alternate Text" style="margin-right: 15px; height: 30px;" />Vehículos
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="beneficios" Match="NavLinkMatch.All">
                            <img src="./imagenes\beneficios.png" alt="Alternate Text" style="margin-right: 15px; height: 30px;" /> Beneficios
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="deudores" Match="NavLinkMatch.All">
                            <img src="./imagenes/cobrar.png" alt="Alternate Text" style="margin-right: 15px; height: 30px;" /> Deudores
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="mapa" Match="NavLinkMatch.All">
                            <img src="./imagenes/provincia.PNG" alt="Alternate Text" style="margin-right: 15px; height: 30px;" /> Mapa
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
     private bool expandedSubMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
