@page "/reporte-vehiculos"
@using Models
@using Proyecto_final.Services
@using System.Threading.Tasks
@inject ICargarArchivo cargarArchivo
@inject NavigationManager NavigationManager

<table class="table table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        @if (lista_vehiculos != null)
        {
@foreach (var item in lista_vehiculos)
{
<tr>
    <td>@item.Marca</td>
    <td>@item.Modelo</td>
</tr>}}
    </tbody>
</table>

@code{ List<Vehiculos> lista_vehiculos = new List<Vehiculos>();

            public List<Vehiculos> GetVehiculos() => new db_a72daa_proyecContext().Vehiculos.ToList();

            protected override void OnInitialized()
            {
                lista_vehiculos = GetVehiculos();
            } }